*{
  margin: auto;
  padding: 0px;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.App {
  text-align: center;
  border:2px black solid;
  background-color: antiquewhite;
}

.Info {
  
}

.inner-section {
  background-color: rgba(250, 235, 215, 0.186);
}

.main-section {
  width: 50%;
  margin: auto;
}

section{
  max-width: fit-content;
  width: 60%;
  min-width: 340px;
  background-color: rgb(217, 170, 108);
  border-radius: 15px;
}

form {
  background-color: green;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.top-buttons {
  width: 100%;
  margin-top: 10px;
}
.bot-buttons {
  width: 100%;
  margin-bottom: 10px;
}


button{
  display:inline-flex;
  position: relative;
  height: 2rem;
  width: 8rem;
  /* padding:0.3em 1.6em; */
  margin: 5px;

  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#682626;
  background-color: coral;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
button:hover{
  border-color: rgb(0, 0, 0);
}



/* @media all and (max-width:30em){
  button{
  display:block;
  margin:0.2em auto;
}
}; */

#submit-button {
  color: rgb(255, 94, 0);
  background-color: rgb(68, 40, 195);
  margin: 5px;
}

input {
  color: rgb(255, 94, 0);
  background-color: rgb(68, 40, 195);
  border-radius: 2px;
  margin: 10px;
}

